<main>
    <div class="wao-wrapper">
        <%- include ../components/banner-home.ejs %>
        <div class="wao-container container">
            <div class="row wao-justi-center">
                <div class="col-11 col-lg-12">
                    <div class="wao-date-slide">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="slider-desc">
                                    <h2 class="title">"Cú hích thành đôi"</h2>
                                    <p>
                                        Thích đúng người, tìm đúng nơi, nếu bạn thích hẹn hò với đàn ông trưởng trưởng thành và chín chắn, họ là chuyên gia và chuyên viên công sở , có điều kiện tốt, thì hãy lên ngay Waodate, anh ấy đang chờ bạn.
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-8">
                              <%- include ../concept/list/list-best-concept_Home_page.ejs%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include ../components/banner-home-middle.ejs %>
        <div class="container wao-container">
            <div class="row wao-justi-center">
                <div class="col-11">
                    <div class="row wao-content-row">
                        <div class="col-lg-3 wao-content-col wao-pc">
                            <%- include ../sidebar/fanpage-facebook.ejs%>
                            <%- include ../sidebar/image-advertisement.ejs%>
                        </div>
                        <div class="col-lg-9 wao-content-col">
                            <%- include ../concept/list/list-concept-with-gender-user_Home_page.ejs%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>