<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <br>
            <br>
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card mini-stat bg-primary">
                        <div class="card-body mini-stat-img">
                            <div class="mini-stat-icon"><i class="mdi mdi-verified float-right"></i></div>
                            <div class="text-white">
                                <h6 class="text-uppercase mb-3">Tổng User Blog <br><br></h6>
                                <h4 class="mb-4">
                                    <% if (infoOverview) { %>
                                        <% if (infoOverview._allBlogAmount) { %>
                                            <%= infoOverview._allBlogAmount._allBlogAmount && infoOverview._allBlogAmount._allBlogAmount %> 
                                        <% }else{ %>
                                            0
                                        <% } %>
                                    <% }else{
                                        0
                                    } %>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tổng số user mới đăng ký (trong 24h qua) -->
                <div class="col-xl-3 col-md-6">
                    <div class="card mini-stat bg-info">
                        <div class="card-body mini-stat-img">
                            <div class="mini-stat-icon"><i class="mdi mdi-gnome float-right"></i></div>
                            <div class="text-white">
                                <h6 class="text-uppercase mb-3">Tổng User blog mới nhất</h6>
                                <h4 class="mb-4">
                                    <% if (infoOverview) { %>
                                        <% if (infoOverview._allBlogAmountLastest24hPosted) { %>
                                            <%= infoOverview._allBlogAmountLastest24hPosted._allBlogAmountLastest24hPosted && infoOverview._allBlogAmountLastest24hPosted._allBlogAmountLastest24hPosted %> 
                                        <% }else{ %>
                                            0
                                        <% } %>
                                    <% }else{
                                        0
                                    } %>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tổng số user bị khóa -->
                <div class="col-xl-3 col-md-6">
                    <div class="card mini-stat bg-danger">
                        <div class="card-body mini-stat-img">
                            <div class="mini-stat-icon"><i class="mdi mdi-lock float-right"></i></div>
                            <div class="text-white">
                                <h6 class="text-uppercase mb-3">Tổng User Blog đang Khoá</h6>
                                <h4 class="mb-4">
                                    <% if (infoOverview) { %>
                                        <% if (infoOverview._allUserBlogAmountBlocked) { %>
                                            <%= infoOverview._allUserBlogAmountBlocked._allUserBlogAmountBlocked && infoOverview._allUserBlogAmountBlocked._allUserBlogAmountBlocked %> 
                                        <% }else{ %>
                                            0
                                        <% } %>
                                    <% }else{
                                        0
                                    } %>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tổng số user trả phí -->
                <div class="col-xl-3 col-md-6">
                    <div class="card mini-stat bg-success">
                        <div class="card-body mini-stat-img">
                            <div class="mini-stat-icon"><i class="mdi mdi-diamond float-right"></i></div>
                            <div class="text-white">
                                <h6 class="text-uppercase mb-3">Tổng User Blog đang hoạt động</h6>
                                <h4 class="mb-4">
                                     <% if (infoOverview) { %>
                                        <% if (infoOverview._allUserBlogAmountActive) { %>
                                            <%= infoOverview._allUserBlogAmountActive._allUserBlogAmountActive && infoOverview._allUserBlogAmountActive._allUserBlogAmountActive %> 
                                        <% }else{ %>
                                            0
                                        <% } %>
                                    <% }else{
                                        0
                                    } %>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <h4 class="mt-0 header-title">Bộ Lọc và Sắp Xếp</h4>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <input class="form-control" type="text" placeholder="Lọc theo tiêu đề" id="txtSearch" <% if (search) { %>
                                            value="<%= search.key && search.key%>"
                                        <% } %> >
                                    </div>
                                </div>
                                <hr>
                                <br>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Ngày Xuất Bản</label>
                                        <div>
                                            <div class="input-daterange input-group" data-date-format="dd/mm/yyyy" id="date-range">
                                                <input type="text" class="form-control" name="start" placeholder="Ngày Bắt Đầu" id="txtStartTime" <% if (search) { %>
                                                    value="<%= search.starttime && search.starttime %>"
                                                <% } %> > 
                                                <input type="text" class="form-control" name="end" placeholder="Ngày Kết Thúc" id="txtEndTime" <% if (search) { %>
                                                    value="<%= search.endtime && search.endtime %>"
                                                <% } %> >
                                            </div>
                                        </div>
                                    </div>
                                </div>

                               
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="card m-b-20" style="margin-top: 27px;">
                                                <select class="form-control" id="txtSort">
                                                <option value="-1">Lọc Theo Status</option>
                                                <option value="1" <% if (search) { %>
                                                    <% if (search.status && search.status == 1) { %>
                                                        selected
                                                    <% } %>
                                                <% } %> >Hoạt Động</option>
                                                <option value="0" <% if (search) { %>
                                                     <% if (search.status && search.status == 0) { %>
                                                        selected
                                                    <% } %>
                                                <% } %> >Không Hoạt Động</option>
                                            </select>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="card m-b-20" style="margin-top: 27px;">
                                                <select class="form-control" id="txtView">
                                                    <option value="-1">Lọc Theo View</option>
                                                    <option value="amountView" <% if (search) { %>
                                                        <% if (search.sortView) { %>
                                                            <% if (search.sortView == "amountView") { %>
                                                                selected
                                                            <% } %>
                                                        <% } %>
                                                    <% } %> >Lượt Xem Tăng Dần</option>
                                                    <option value="-amountView" <% if (search) { %>
                                                        <% if (search.sortView == "-amountView") { %>
                                                                selected
                                                        <% } %>
                                                    <% } %> >Lượt Xem Giảm Dần</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <span class="text-center"> 
                                        <i>
                                            <% if (!Number(Number.isNaN(amountResult))) { %>
                                                Có <strong style="color: #29bbe3"><%= amountResult || 0%></strong> kết quả trả về 
                                            <% } %>
                                        </i>
                                    </span>
                                    <button class="btn btn-info float-right" id="btnSearch">Tìm Kiếm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <table class="content-table">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Title</th>
                                    <th>Slug</th>
                                    <th>Avatar</th>
                                    <th>Status</th>
                                    <th>Short Code</th>
                                    <th>Chỉnh sửa</th>
                                </tr>
                            </thead>
                               <tbody>
                                    <% if (userblogs && userblogs.length > 0) { %>
                                        <% userblogs.forEach(( userblog, index ) => { %>
                                            <% if (userblog) { %>
                                                <tr>
                                                    <th>
                                                        <%= index + 1 %>
                                                    </th>
                                                    <td>
                                                        <i>
                                                            <%= userblog.name && userblog.name %>
                                                        </i>
                                                    </td>
                                                    <td>
                                                        <i>
                                                            <%= userblog.slug && userblog.slug%>
                                                        </i>
                                                    </td>
                                                    <td>
                                                        <%let objUser = userblog%>
                                                        <%-include ./utils/image-user-blog_RENDER_ADMIN.ejs%>
                                                    </td>
                                                    
                                                    <td>
                                                        <% if (userblog.status && userblog.status) { %>
                                                            <span class="badge badge-pill badge-success">
                                                                Hoạt Động
                                                            </span>
                                                        <% }else{ %>
                                                            <span class="badge badge-danger">
                                                                Không Hoạt Động
                                                            </span>
                                                        <% } %>
                                                    </td>
                                                    <td>
                                                        <%= userblog.shortcode && userblog.shortcode %>
                                                    </td>
                                                    <td>
                                                        <div class="btn-group mb-2">
                                                            <button type="button" class="btn btn-primary waves-effect waves-light" id="btnDropDownmenuging_<%= userblog._id && userblog._id %>">
                                                                Thao Tác
                                                            </button>
                                                            <button type="button" class="btn btn-primary waves-effect waves-light dropdown-toggle-split dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <span class="sr-only">...</span>
                                                            </button>
                                                            <div class="dropdown-menu" x-placement="right-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);">
                                                                <a class="dropdown-item" href="/admin/update-user-blog/<%= userblog && userblog.slug && userblog.slug %>">Sửa Thông Tin</a>
                                                                <% if (userblog && userblog.status) { %>
                                                                    <a class="dropdown-item btnBlockUser btnToggleStatus" _status="0" _url="<%= userblog && userblog.slug && userblog.slug %>" >Tắt Hoạt Động</a>
                                                                <% }else{ %>
                                                                    <a class="dropdown-item btnBlockUser btnToggleStatus" _status="1" _url="<%= userblog && userblog.slug && userblog.slug %>" >Bật Hoạt Động</a>
                                                                <% } %>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            <% } %>
                                        <% }) %>
                                    <% } %>
                                </tbody>
                                 <div class="row">
                                    <div class="col-md-6"> 
                                        <div class="dropdown mo-mb-2" id="dropdownMenuOptionmenuging" style="display: none">
                                            <a class="btn btn-light dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Chọn Thao Tác
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 33px, 0px);">
                                                <a class="dropdown-item btnUpdateStatusWithListmenuging" _status="0" href="#">Tắt Hoạt Động</a>
                                                <a class="dropdown-item btnUpdateStatusWithListmenuging" _status="1" href="#">Mở Hoạt Động</a>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                            </table>
                            <%- include ./utils/paging.ejs%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>