<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <br>
            <div class="row">
                    <div class="col-12">
                       <div class="card m-b-20">
                           <div class="card-body">
                               <div class="row">
                                   <h4 class="mt-0 header-title" style="padding-left: 16px">Bộ Lọc và Sắp Xếp</h4>
                                   <div class="col-md-12">
                                       <div class="form-group row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label>Ngày Xuất Bản</label>
                                                    <div>
                                                        <div class="input-daterange input-group" id="date-range" data-date-format="dd/mm/yyyy">
                                                            <input type="text" class="form-control" name="start" placeholder="Ngày Bắt Đầu" id="txtStartTime" <% if (search) { %>
                                                                value="<%= search.starttime && search.starttime %>"
                                                            <% } %> > 
                                                            <input type="text" class="form-control" name="end" placeholder="Ngày Kết Thúc" id="txtEndTime" <% if (search) { %>
                                                                value="<%= search.endtime && search.endtime %>"
                                                            <% } %> >
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                           <div class="col-md-4">
                                                <label>Lọc</label>
                                               <select class="form-control" id="txtStatus">
                                                   <option value="2">Lọc Theo Status</option>
                                                   <option value="-1" <% if (search) { %>
                                                       <% if(search.status == -1){ %>
                                                           selected
                                                       <% } %>
                                                   <% } %> >Đang đợi xác nhận</option>
                                                   <option value="1" <% if (search) { %>
                                                       <% if(search.status == 1){ %>
                                                           selected
                                                       <% } %>
                                                   <% } %> >Thành công</option>
                                                    <option value="0" <% if (search) { %>
                                                       <% if(search.status == 0){ %>
                                                           selected
                                                       <% } %>
                                                   <% } %> >Thất bại</option>
                                               </select>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <hr>
                               <div class="row">
                                   <div class="col-md-12">
                                       <span class="text-center"> 
                                           <i>
                                               <% if (amount) { %>
                                                   Có <strong style="color: #29bbe3"><%= amount || 0 %></strong> kết quả trả về 
                                               <% }else{ %>
                                                   Có <strong style="color: #29bbe3"><%= amount || 0 %></strong> kết quả trả về 
                                               <% } %>
                                           </i>
                                       </span>
                                       <button class="btn btn-info float-right" id="btnSearch">Tìm Kiếm</button>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="row">
                                <div class="table-responsive">
                                    <div class="row">
                                        <div class="col-md-6"><%- include ./utils/data-table-length.ejs%></div>
                                        <div class="col-md-6"><%- include ./utils/paging.ejs%></div>
                                    </div>
                                    <table class="content-table">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Người Dùng</th>
                                                    <th>----</th>
                                                    <th>Thông Tin Gói</th>
                                                    <th>Trạng Thái Thanh Toán</th>
                                                    <th>Ngày Tạo</th>
                                                    <th>Tổng Tiền</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <%listTransactions && listTransactions.length && listTransactions.forEach((itemTransactionPrepare, index) => {%>
                                                    <%let itemTransaction = pricings.find(item => itemTransactionPrepare.pricing == item._id)%>
                                                    <%if(itemTransaction){%>
                                                        <tr>
                                                            <td><%=index+1%></td>
                                                            <td>
                                                                <strong>
                                                                    <%let objUser = itemTransactionPrepare.user;%>
                                                                    <%- include ./utils/image_RENDER_ADMIN.ejs%>
                                                                    <%=itemTransactionPrepare.user.fullname%>
                                                                </strong>
                                                            </td>
                                                            <td>
                                                                <%=itemTransactionPrepare.user.fullname%>
                                                                <p class="m-0 text-muted font-8">
                                                                    <%=itemTransactionPrepare.user.email%>
                                                                </p>
                                                            </td>
                                                            <td>
                                                                <strong><%=itemTransaction && itemTransaction.title%></strong>
                                                                <p class="m-0 text-muted font-8" style="font-size: 10px;">
                                                                    <%=itemTransaction && itemTransaction.timeLimit%> (ngày hoạt động) - 
                                                                    <%=itemTransaction && itemTransaction.point%> (điểm thưởng)
                                                                </p>
                                                            </td>
                                                            <td>
                                                                <%if(!Number.isNaN(Number(itemTransactionPrepare.status))){%>
                                                                    <%if(Object.is(Number(itemTransactionPrepare.status), 1)){%>
                                                                        <i class="mdi mdi-checkbox-blank-circle text-success"></i> TT Thành Công
                                                                    <%}else if(Object.is(Number(itemTransactionPrepare.status), -1)){%>
                                                                        <i class="mdi mdi-checkbox-blank-circle text-warning"></i> TT Đang Đợi Xác Nhận
                                                                    <%}else if(Object.is(Number(itemTransactionPrepare.status), 0)){%>
                                                                        <i class="mdi mdi-checkbox-blank-circle text-danger"></i> TT Thất Bại
                                                                    <% } %>
                                                                <% } %>
                                                            </td>
                                                            <td>
                                                                <%= moment(itemTransactionPrepare.createAt).calendar();%>
                                                            </td>
                                                            <td>
                                                                <strong>
                                                                    <%if(!Number.isNaN(Number(itemTransactionPrepare.status))){%>
                                                                        <%if(Object.is(Number(itemTransactionPrepare.status), 1)){%>
                                                                            <span class="badge badge-pill badge-success">
                                                                                <%= formatCurrency('###,###.', itemTransaction.pointOrigin)%>
                                                                            </span>
                                                                        <%}else if(Object.is(Number(itemTransactionPrepare.status), -1)){%>
                                                                            <span class="badge badge-pill badge-warning">
                                                                                <%= formatCurrency('###,###.', itemTransaction.pointOrigin)%>
                                                                            </span>
                                                                        <%}else if(Object.is(Number(itemTransactionPrepare.status), 0)){%>
                                                                            <span class="badge badge-pill badge-danger">
                                                                                <%= formatCurrency('###,###.', itemTransaction.pointOrigin)%>
                                                                            </span>
                                                                        <% } %>
                                                                    <% } %>
                                                                    point
                                                                </strong>
                                                            </td>
                                                        </tr>
                                                    <%}%>
                                                    
                                                <%})%>
                                        </tbody>
                                    </table>
                                        <%- include ./utils/paging.ejs%>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>