<article class="zm-post-lay-d clearfix">
    <div class="zm-post-thumb f-left"> 
        <a href="/blog/<%=blogInfo.slug%>" rel="dofollow">
            <noscript>
                <img
                    width="750" height="465"
                    src="/files/blog/<%=blogInfo.image%>"
                    class="lazyload attachment-full size-full wp-post-image"
                    alt="<%=blogInfo.title%>"
                    srcset="/files/blog/<%=blogInfo.image%> 750w, /files/blog/<%=blogInfo.image%> 300w"
                    sizes="(max-width: 750px) 100vw, 750px" />
            </noscript>
            <img
                width="750" height="465"
                src="/files/blog/<%=blogInfo.image%>"
                data-src="/files/blog/<%=blogInfo.image%>"
                class="lazyload attachment-full size-full wp-post-image"
                alt="<%=blogInfo.title%>"
                data-srcset="/files/blog/<%=blogInfo.image%> 750w, /files/blog/<%=blogInfo.image%> 300w"
                data-sizes="(max-width: 750px) 100vw, 750px" />
            </a>
    </div>
    <div class="zm-post-dis f-right">
        <div class="zm-post-header">
            <p class="zm-post-title" style="font-weight:bold"><a
                href="/blog/<%=blogInfo.slug%>">
                <%=blogInfo.title%></a></p>
            <div class="zm-post-meta">
                <ul>
                    <li class="s-meta"> <a href="/blog/<%=blogInfo.category.slug%>"
                        class=" meta-category" rel="nofollow"><%=blogInfo.category.title%></a>
                    <li class="s-meta"><%=moment(blogInfo.createAt).subtract(10, 'days').calendar();%></li>
                </ul>
            </div>
        </div>
    </div>
</article>