<div class="col-md-6 col-lg-3 col-sm-6 col-xs-6 mb-20 read-more-block">
    <article class="zm-post-lay-a1">
        <div class="zm-post-thumb">
            <a href="/blog/<%=blogInfo.slug%>" rel="dofollow">
            <noscript>
                <img width="750" height="465" src="/files/blog/<%=blogInfo.image%>" class="lazyload attachment-full size-full wp-post-image" alt="<%=blogInfo.title%>" srcset="/files/blog/<%=blogInfo.image%> 750w, /files/blog/<%=blogInfo.image%> 300w" sizes="(max-width: 750px) 100vw, 750px" /></noscript>
            <img width="750" height="465" 
            src='/files/blog/<%=blogInfo.image%>' 
            data-src="/files/blog/<%=blogInfo.image%>" 
            class="lazyload attachment-full size-full wp-post-image" 
            alt="<%=blogInfo.title%>" data-srcset="/files/blog/<%=blogInfo.image%> 750w, /files/blog/<%=blogInfo.image%> 300w" data-sizes="(max-width: 750px) 100vw, 750px" /> 
            </a>
        </div>
        <div class="zm-post-dis">
            <div class="zm-post-header">
            <p class="zm-post-title h2"><a href="/blog/<%=blogInfo.slug%>" rel="dofollow"><%=blogInfo.title%></a></p>
            </div>
        </div>
    </article>
</div>
