<style>
  .p-main {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .p-main  .wrap_item {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .p-main .wrap_title {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .p-main .title {
    font-family: "NolanNext";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 0;
  }

  .p-main .participant_info {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .p-main .avatar {
    vertical-align: middle;
    width: 77px;
    height: 77px;
    border-radius: 50%;
  }

  .p-main .text_description {
    font-family: "NolanNext";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.04em;
    margin: 5px 0;
    color: #828282;
  }

  .p-main .text_name {
    margin: 5px 0;
    font-family: "NolanNext";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
  }

  .p-main .text {
    margin-left: 20px;
  }

  .p-main .action {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .p-main .btn_action {
    width: 141.69px;
    height: 43px;
    border-radius: 45px;
    border: none;
  }

  .p-main .importance {
    background: #000000;
    color: #fff;
  }

  .p-main .is_feature {
    background-color: brown;
    opacity: 0.7;
    color: #fff;
  }

  .p-main .accept {
    background: #4E37D3;
    color: #fff;
  }

  .p-main .decline {
    background: #E5E5E5;
    color: #828282;
  }

  .p-main .item {
    padding: 31px 10px;
    border-radius: 20px;
    background-color: #FBFBFB;
    margin-bottom: 26px;
  }

  .p-main .wrap_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .p-main .text_center {
    text-align: center;
  }

  .p-main .btn_view_list {
    width: 344px;
    height: 51px;
    border: none;
    color: #fff;
    background: #4E37D3;
    border-radius: 30px;
    margin-top: 26px;
    margin-bottom: 26px;
    cursor: pointer;
  }


  @media (min-width: 768px) {
    .p-main .wrap_list {
      padding: 43px 48px;
    }

  }

  @media (max-width: 768px) {
    .p-main .action {
      margin-top: 10px;
    }

  }
</style>

<main>
  <div class="wao-date-detail" style="margin-bottom: 0;">
    <div class="wao-img">
      <div class="right-label">
        <span class="wao-mb wao-mb wao-btn wao-btn-yellow">
          <% if(concept && concept.status === 0) {%>
          Đang mở
          <%} else if (concept && concept.status === 1) {%>
          Đang đóng
          <%}%>
                  </span>                      
                      <span class="wao-btn wao-btn-black-mb wao-mb">
                        <i class="fa fa-user" aria-hidden="true" style="padding: 2px 0px; margin-right: 5px;"></i>
                        <span><%=(concept.participants || []).length%> đăng ký </span>
        </span>
        <span class="wao-btn" style="display: flex;">
          <img src="/template/front-end-new/img/date-detail/eye_icon.svg" alt="">
          <%if(concept.amountView){%>
          <%=concept.amountView%>
          <%}%>
                  </span>
              </div>
               <div id="owl-img-concept" class=" owl-carousel" >
                  <%if(concept.image){%>
          <%concept.image.forEach((image, index) => {%>
          <a href="/files/users/<%=image%>" class="fancybox-gallery wao_img_concept" data-fancybox-group="gallery">
            <img src="/files/users/<%=image%>" alt="waodate.com" height="100%" class="wao-pc wao-mb">
          </a>

          <%})%>
          <%}%>
              </div>
             
            
              <div class="wao-pc wao-date-desc">
                  <h3>Mô tả về buổi hẹn</h3>
                  <%=concept.description && concept.description%> <a href="" class="wao-popup-open"
            data="date-more-info">Xem thêm</a>
      </div>
    </div>
    <div class="wao-content">
      <div class="wao-middle-content" style="padding-bottom: 0;">
        <div class="wao-user-content">
          <%let objUser = userInfo%>
          <a href="/nguoi-dung/thong-tin/<%= objUser.username %>">
            <%- include ./utils/image_RENDER-header.ejs%>
          </a>
          <div class="wao-user-info">
            <p class="user-name"><b><a href="/nguoi-dung/thong-tin/<%= objUser.username %>"><%= userInfo.fullname%>,
                  <%= userInfo.age %></a></b></p>
            <%if(provinces){%>
            <%if(objUser && !Number.isNaN(Number(objUser.province))){%>
            <% var infoProvince = provinces[objUser.province]%>
            <%if(infoProvince){%>
            <p><%=infoProvince.name%></p>
            <%}else{%>
            Chưa Cập Nhật
            <%}%>
                <%}else{%>
            Chưa Cập Nhật
            <%}%>
                              <%}%>
            <%let date = new Date(concept.createAt)%>
            <%let day = (date.getDate() >= 10) ? `${date.getDate()}` : `0${date.getDate()}`%>
            <%let month = (date.getMonth() + 1 >= 10) ? `${date.getMonth() + 1}` : `0${date.getMonth() + 1}`%>
            <%let year = `${date.getFullYear()}`%>
            <!--  <p>Đăng ngày <%= day + '/' + month + '/' + year %></p> -->
          </div>
          <%let flagShowButtonRequestConcept = true;%>
          <%let flagShowButtonNotIsAuthor = true;%>

          <%if(Number(concept.status) == 0){%>
          <%if(isLogin){%>
          <%if(concept.listParticipants){%>
          <%if(concept.listParticipants.data){%>
          <%let listParticipantsActive = concept.listParticipants.data.filter(item => item.status != -1);%>
          <%let userIDCurrentAccess = infoUser._id;%>
          <%if (listParticipantsActive.find(item => item.participant._id.toString() == userIDCurrentAccess.toString())) {%>
          <%flagShowButtonRequestConcept = false;%>
          <%}%>
                                  <%}%>
          <%}%>
                              <%if(infoUser._id.toString() == concept.author._id.toString()){%>
          <%flagShowButtonNotIsAuthor = false;%>
          <%}%>
                          <%}%>
          <%if(!flagShowButtonNotIsAuthor) {%>
          <span class="wao-btn wao-pc wao-modal-add-item" onClick="detail_user('<%=concept.slug%>')">
            Chỉnh sửa
          </span>
          <%}else if(flagShowButtonRequestConcept){%>
          <a href="#" class="wao-btn wao-pc wao-popup-open requestParticipantion" data="wao-enjoy-date-popup"
            _conceptid="<%=concept._id%>" _authorID='<%=concept.author._id%>'>
            Tham gia
          </a>
          <%}else{%>
          <small>
            <i>Bạn đã gửi yêu cầu Concept này</i>
          </small>
          <%}%>
                      <%}%>
        </div>
        <a href="/buoi-hen-ho/<%= concept.slug %>" style="color: #222;">
          <p><%=concept.title && concept.title%></p>
        </a>
        <ul class="wao-content-info">
          <li>
            <i><img src="/template/front-end-new/img/list-by-user/calendar_icon_2.svg" alt=""></i>
            <span class="label"><b>Ngày diễn
                ra:</b></span><%= moment(concept.time).format('L');%>
          </li>
          <li>
            <i><img src="/template/front-end-new/img/list-by-user/person_icon.svg" alt=""></i>
            <span class="label"><b>Đối
                tượng:</b></span>
            <%if(concept.author){%>
            <%if(Object.is(Number(concept.focusGender), 1)){%>
            Nam
            <%}else{%>
            Nữ
            <%}%> ,
                  <%}else{%>
            (Giới Tính)-
            <%}%>
                  <%if(concept.focusAge){%>
            <%= _lodash.get(concept, 'focusAge.from', 'x')%> -
            <%= _lodash.get(concept, 'focusAge.to', 'y')%>
            <%}%>
                      </li>
                      <%if(concept && concept.address){%>
            <%var conceptNew = concept.address.filter(Boolean);%>
            <%conceptNew.forEach((concept, index) => {%>
          <li>
            <i><img src="/template/front-end-new/img/list-by-user/location_icon.svg" alt=""></i>
            <span class="label"><b>Địa Điểm <%=index+1%>:</b></span><%=concept%>
          </li>
          <%})%>
          <%}%>
                      <!-- <li class="wao-mb">
                          <i><img src="/template/front-end-new/img/list-by-user/tag_icon.svg" alt=""></i>
                          <%var indexPrayer = constants.prayers.findIndex(prayer => Object.is(Number(concept.prayer), Number(prayer.value)))%>
          <span class="label"><b>Chi
              phí:</b></span><span><b><%= formatCurrency('###,###.', concept.cost)%> VND <br>
              <%=constants.prayers[indexPrayer].text%></b></span>
          </li> -->

        </ul>
        <%if(Number(concept.status) == 0){%>
        <%if(!flagShowButtonNotIsAuthor) {%>
        <p class="wao-mb text-center">
          <span class="wao-btn wao-pc wao-modal-add-item" onClick="detail_user('<%=concept.slug%>')">
            Chỉnh sửa
          </span>
        </p>
        <%}%>

                  <%}%>
        <div class="wao-pc wao-date-summany">
          <hr>
          <p class="wao-justi-space"><span><img src="/template/front-end-new/img/list-by-user/tag_icon.svg" alt="">Kế
              hoạch chi tiêu dự kiến: <%= formatCurrency('###,###.', concept.cost)%> VNĐ</span>
          </p>
          <%var indexPrayer = constants.prayers.findIndex(prayer => Object.is(Number(concept.prayer), Number(prayer.value)))%>
          <p><span class="wao-btn wao-btn-yellow">
              <%if(Number(concept.status) == 0){%>
              Đang Mở
              <%}else{%>
              Đã Đóng
              <%}%>
                      </span><span class="wao-btn">
                          <%=constants.prayers[indexPrayer].text%></span>

            <span class="wao-btn wao-btn-black">
              <i class="fa fa-user" aria-hidden="true" style="padding: 2px 0px; margin-right: 5px;"></i>
              <span><%=(concept.participants || []).length%> đăng ký </span>
            </span>

          </p>
        </div>
      </div>
      <div class="wao-photos owl-carousel">
        <% const images = userInfo.images %>
        <%if(images){%>
        <%images.forEach((image, index) => {%>
        <a href="/files/users/<%=image.name%>" class="fancybox-gallery" data-fancybox-group="gallery">
          <img src="/files/users/<%=image.name%>" alt="waodate.com">
        </a>
        <%})%>
        <%}%>
              </div>
          </div>
      </div>

</main>
<script>
  window.scrollTo(0, window.innerHeight / 1.2)
</script>


