
<body>

	<!--_______________________________HEADER_______________________________________-->
	<button class="flat-btn hide-pc t-mobile-menu-btn"><img src="/template/images/mobile-menu.svg" alt="Menu" /></button>
    <% include core/topbar.ejs %>


	<!--_________________________________PRODUCT BANNER______________________________-->
	<!--____________________________________PRODUCT SLIDER________________________________-->
	<%if(listBlogSearch){%>
	<div class="t-home-block t-product-block t-product-block-top">
		<img class="t-home-banner-footer" src="/template/images/banner-home-bg-footer3.png" alt="Banner footer" />
		<div class="container">
			<div class="t-home-block-content">
				<p class="t-title t-title-product">
				<%- lang(langKey,'ket_qua_tiem_kiem')%>
				</p>
					<div class="t-home-customer row">
						<%listBlogSearch && listBlogSearch.forEach(product=>{%>
								<div class="t-home-customer-item col-12 col-lg-4">
									<img src="/template/images/icon-union.png" >
									<p><%=product.title%></p>
									<span>
										<%=product.description%>									</span>
									<div>
										<a href="/details-blog/?slug=<%=product.slug%>&category=<%=product.category%>""><%- lang(langKey,'details')%> <img src="/template/images/icon-arrow-right.svg" alt="Arrow"></a>
									</div>
								</div>
						<%})%>
					</div>
					<!-- <%if(allPage >0){%>
						<div class="t-news-show-more">
							<button id = "btn-load-more-result-search"class="btn"><%- lang(langKey,'see_more')%></button>
						</div>
					<%}%> -->
				</div>
			</div>
		</div>
	</div>
	<%}%>

	
	

	

	<!--____________________________________REGISTER & FOOTER_______________________________________-->

<script type="text/javascript">

	$(document).ready(function() {
		$('#input-search-blog').val(urlQuery("key")|| '')
		$(".t-product-banner-video-play-btn").click(function() {
			$(this).hide();
		});
		//___________________________INITIAL PRODUCT SLIDER
		$("#t-product-slider1, #t-product-slider2, #t-product-slider3").slick({
			dots: false,
			infinite: true,
			slidesToShow: 3,
			autoplay: true,
			autoplaySpeed: 5000,
			responsive: [
				{
					breakpoint: 1200,
					settings: "unslick",
				}
			],
		});
	});
</script>