<body>
	<!--_______________________________HEADER_______________________________________-->
	<button class="flat-btn hide-pc t-mobile-menu-btn"><img src="/template/images/mobile-menu.svg" alt="Menu" /></button>
    <% include ../core/topbar.ejs %>


	
	<!--_________________________________EXPERIENCE CONTENT______________________________-->
	<div class="t-home-block t-experience-block">
		<img class="t-home-banner-footer" src="/template/images/banner-home-bg-footer5.png" alt="Banner footer" />
		<div class="container">
			<div class="t-home-block-content">
				<p class="t-title">
					<%- lang(langKey,'titile_page_experience')%>  
					<!-- Lorem Ipsum is <span class="color-blue">simply <br /> dummy</span> text of the printing. -->
				</p>
				<div class="t-exp-btn">
					<a class="btn" data-toggle="modal" href="#t-invite-modal"><%- lang(langKey,'join_us')%> </a>
				</div>
				<div class="t-exp-img-container">
					<img class="hide-mobile" src="/template/images/solution-pc-img1.png" alt="Experience" />
					<img src="/template/images/solution-img.png" alt="Experience" />
					<img class="hide-mobile" src="/template/images/solution-pc-img2.png" alt="Experience" />
				</div>
			</div>
		</div>
	</div>

	<!--_________________________________EXPERIENCE CONTENT______________________________-->
	<div class="t-home-block t-experience-block-text">
		<div class="container">
			<div class="t-exp-text-container row">
				<div class="t-exp-text-item col-12 col-lg-4">
					<img src="/template/images/icon-check.png" alt="Experience" />
					<p>
						<%- lang(langKey,'titile_page_experience_title_1')%>
					</p>
					<div>
						<%- lang(langKey,'titile_page_experience_content_1')%>
					</div>
				</div>
				<div class="t-exp-text-item col-12 col-lg-4">
					<img src="/template/images/icon-check.png" alt="Experience" />
					<p>
						<%- lang(langKey,'titile_page_experience_title_2')%>
					</p>
					<div>
						<%- lang(langKey,'titile_page_experience_content_2')%>
					</div>
				</div>
				<div class="t-exp-text-item col-12 col-lg-4">
					<img src="/template/images/icon-check.png" alt="Experience" />
					<p>
						<%- lang(langKey,'titile_page_experience_title_3')%>
					</p>
					<div>
						<%- lang(langKey,'titile_page_experience_content_3')%>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--____________________________________REGISTER MODAL POPUP_______________________________________-->
